<mat-card>
    <mat-action-list role="list">
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon
                mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/admin/movies"><mat-icon mat-list-icon>movies</mat-icon>Movies</button>
        <button mat-list-item routerLink="/admin/add-movie"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add
            Movie</button>
        <button mat-list-item routerLink="/admin/theatres"><mat-icon mat-list-icon>house</mat-icon>Theatres</button>
        <button mat-list-item routerLink="/admin/add-theatre"><mat-icon mat-list-icon>add</mat-icon>Add Theatre</button>
        <button mat-list-item routerLink="/admin/add-show"><mat-icon mat-list-icon>add_circle</mat-icon>Add Show</button>
    </mat-action-list>
</mat-card>