<aside class="side-menu">
    <span class="side-menu-title">User Menu</span>
    <mat-action-list role="list">
        <button mat-list-item class="side-link" routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><mat-icon mat-list-icon>space_dashboard</mat-icon>Home</button>
        <button mat-list-item class="side-link" routerLink="/user/movies" routerLinkActive="active-link"><mat-icon mat-list-icon>local_movies</mat-icon>Movies</button>
        <button mat-list-item class="side-link" routerLink="/user/book" routerLinkActive="active-link"><mat-icon mat-list-icon>event_seat</mat-icon>Book Tickets</button>
        <button mat-list-item class="side-link" routerLink="/user/my-bookings" routerLinkActive="active-link"><mat-icon mat-list-icon>receipt_long</mat-icon>My Bookings</button>
        <button mat-list-item class="side-link" routerLink="/user/explore" routerLinkActive="active-link"><mat-icon mat-list-icon>travel_explore</mat-icon>Explore</button>
        <button mat-list-item class="side-link" routerLink="/user/profile" routerLinkActive="active-link"><mat-icon mat-list-icon>person</mat-icon>Profile</button>
    </mat-action-list>
</aside>