<mat-card>
    <mat-action-list role="list">
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/user"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/user/profile"><mat-icon
                mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/user/movies"><mat-icon mat-list-icon>movies</mat-icon>Movies</button>
        <button mat-list-item routerLink="/admin/theatres"><mat-icon mat-list-icon>history</mat-icon>Booking History</button>
        <button mat-list-item routerLink="/admin/add-theatre"><mat-icon mat-list-icon>feedback</mat-icon>Feedback</button>
        <button mat-list-item routerLink="/admin/add-show"><mat-icon mat-list-icon>people</mat-icon>About Us</button>
    </mat-action-list>
</mat-card>