<mat-card>
    <h1 style="margin: 3%; font-family: Verdana, Geneva, Tahoma, sans-serif;">All Theatres</h1>
    <mat-list>
        <mat-list-item *ngFor="let theatre of theatres" style="height: fit-content;">
            <div style="display: inline-flex; margin: 1%; font-family: cursive;">
                <mat-icon mat-list-icon>movie</mat-icon>
                <div style="margin-left: 10px;">
                    <div mat-line>
                        <h4>{{ theatre.theatreName }}</h4>
                    </div>
                    <div mat-line>{{ theatre.location }}</div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list-item>
    </mat-list>

    <div class="container text-center" style="margin: 20px;">
        <button mat-raised-button color="accent" routerLink="/admin/add-theatre">Add New Theatre</button>
    </div>
</mat-card>