<section class="listing-card fade-up">
    <h1 class="section-title">Add Show</h1>
    <form (ngSubmit)="onSubmit()" class="stack-form">
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input [(ngModel)]="show.startTime" matInput [matDatepicker]="startPicker" name="startDate" placeholder="Select date" required>
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Start Time</mat-label>
                <input matInput type="time" [(ngModel)]="show.startTimeTime" name="startTimeTime" required>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input [(ngModel)]="show.endTime" matInput [matDatepicker]="endPicker" name="endDate" placeholder="Select date" required>
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>End Time</mat-label>
                <input matInput type="time" [(ngModel)]="show.endTimeTime" name="endTimeTime" required>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Price per Person</mat-label>
            <input [(ngModel)]="show.ticketPrice" matInput type="text" name="price" placeholder="Enter ticket price" required autofocus>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select Movie</mat-label>
            <mat-select name="movie" [(ngModel)]="show.movie.movieId">
                <mat-option *ngFor="let movie of movies" [value]="movie.movieId">
                    {{ movie.movieName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select Theatre</mat-label>
            <mat-select name="theatre" [(ngModel)]="show.theatre.theatreId">
                <mat-option *ngFor="let theatre of theatres" [value]="theatre.theatreId">
                    {{ theatre.theatreName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="text-center">
        <button (click)="onSubmit()" mat-flat-button color="primary" class="app-btn">Add Show</button>
    </div>
</section>