<mat-card>
    <h1 style="margin: 3%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Add Theatre</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="onSubmit()">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>TheatreName</mat-label>
                            <input matInput type="text" name="name" placeholder="Enter Theatre Name"
                                [(ngModel)]="theatre.theatreName" required autofocus>
                        </mat-form-field>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Location</mat-label>
                            <input matInput type="text" name="location" placeholder="Enter Location"
                                [(ngModel)]="theatre.location" required autofocus>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>

    <div class="container text-center" style="margin: 20px;">
        <button mat-raised-button color="accent" (click)="onSubmit()">Add Theatre</button>
    </div>
</mat-card>