<article class="movie-card">
    <img [src]="movieData.poster" class="movie-poster" alt="Movie poster" />
    <h4 class="movie-title">{{ movieData.movieName }}</h4>
    <div class="movie-footer">
        <p class="movie-meta">Duration: {{ movieData.duration }} mins</p>
        <p class="movie-meta">Rating: {{ movieData.rating }} / 10</p>
        <button type="button" mat-flat-button color="primary" class="app-btn movie-btn" (click)="bookingNavigation()">
            Book Tickets
        </button>
    </div>
</article>